<a href="https://colab.research.google.com/github/iestleija/4808-Programacion/blob/Unidad1/Unidad1/Labs/Sesion02_EstructurasdeDatos_al266229.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Maestría en Intelingecia Artificial y Analítica de Datos**

- Curso: Programación para Analítica Descriptiva y Predictiva

- Semestre: Enero-Junio

- Profesor: Dr. Vicente García Jiménez
- Sesión: 02 Síncrona Teams

# **Estructuras de Datos**

Objetivo:

```
# This is formatted as code
```

Que el estudiante comprenda, seleccione y utilice adecuadamente las principales estructuras de datos (listas, tuplas, conjuntos y diccionarios) para almacenar, organizar y manipular información, como base para la construcción de algoritmos y el análisis de datos.

## Datos Primitivos

Los datos primitivos son tipos de datos básicos que permiten almacenar un solo valor y sirven como bloques fundamentales para construir estructuras de datos más complejas.

Ejemplos comunes (en Python):

int → números enteros

float → números reales

bool → verdadero / falso

str → cadenas de texto

Son simples, no se descomponen y se usan directamente en expresiones y algoritmos.

In [10]:
#Los tipos de variables enteros en Python (int)
#se utilizan para representar datos numéricos, específicamente números enteros.
#Estos pueden ser tanto positivos como negativos.
year = 2021
dia = 7
edad = 26
temperatura = -5
angulo = -45

#imprimir el contenido de las variables
print(year)
print(dia)
print(edad)
print(temperatura)
print(angulo)

2021
7
26
-5
-45

In [11]:
#Los tipos primitivos booleanos en python (bool) son tipos de datos binarios,
#es decir que pueden tomar los valores: Verdadero (True) y Falso (False).
#Son útiles para expresiones con condicionales y de comparaciones.
esta_frio = True
es_bajo = False

print(esta_frio)
print(es_bajo)

True
False

In [12]:
#Los tipos de datos flotantes en Python (float) se utilizan para representar
#números de coma flotante o con decimales.
pi = 3.1416
estatura = 1.84
peso = 85.6
temperatura = -5.55
edad = 26.0

print(pi)
print(estatura)
print(peso)
print(temperatura)
print(edad)

3.1416
1.84
85.6
-5.55
26.0

### **String, Str, Cadena: Tipo de Datos Primitivo**

Los tipos de datos String en Python son un arreglo de caracteres que forman cadenas para formar un mensaje o oración generalmente. Se pueden crear usando  comillas simples, dobles o triples.

La diferencia en cómo se pueden crear no es semántica, sino práctica:

Comillas simples ' ' y dobles " "
* Son equivalentes.
* Se usan para cadenas de una sola línea.
* Facilitan escapar comillas internas: indicarle al lenguaje que una comilla forma parte del texto y no marca el fin de la cadena.

Comillas triples ''' ''' o """ """
* Permiten cadenas multilínea.
* Conservan saltos de línea y formato.
* Se usan comúnmente para docstrings.

El tipo de dato es el mismo (str); solo cambia cómo se escribe y para qué se usa.

In [13]:

profesor = "Sergio Castaño Giraldo"
web = 'Control Automático Educación'
cursos = """
1. Python
2. Matlab
3. MicroPython
4. Arduino
5. PIC
6. Control de Procesos
"""




print(profesor)
print(web)
print(cursos)

#Aquí \" indica que la comilla doble es contenido, no cierre de la cadena.
texto = "Juan dijo: \"hola\""

print(texto)

#Alternativa sin escapar

texto = 'Juan dijo: "hola"'

print(texto)

Sergio Castaño Giraldo
Control Automático Educación

1. Python
2. Matlab
3. MicroPython
4. Arduino
5. PIC
6. Control de Procesos

Juan dijo: "hola"
Juan dijo: "hola"

### Operaciones con cadenas de texto (str) en Python

Las cadenas de texto permiten almacenar y manipular información textual. En Python, las cadenas son inmutables, lo que significa que no se pueden modificar directamente, sino que cada operación genera una nueva cadena.

In [14]:

#1. Concatenación
#Permite unir dos o más cadenas.

a = "Hola"
b = "Mundo"
a + " " + b

'Hola Mundo'

In [15]:
#2. Repetición
#Permite repetir una cadena varias veces.
"Hola" * 3

'HolaHolaHola'

Acceder a las posiciones del índice tenemos que tener en cuenta lo siguiente:

![image.png]()

In [16]:
#3. Acceso por índice
#Permite acceder a un carácter específico.
texto = "Python"
print(texto[0])    # 'P'
print(texto[-1])   # 'n'
print(texto[-5]) #y

P
n
y

In [17]:
#4. Subcadenas (slicing)
#Permite extraer partes de una cadena.

print(texto[0:3])   # 'Pyt'
print(texto[2:])    # 'thon'

b = "Hello, World!"
print(b[2:5])

print(texto[:-3])    #Pyt

print(texto[-3:])    #Pyt

Pyt
thon
llo
Pyt
hon

In [18]:
#5. Longitud de la cadena
#Devuelve el número de caracteres
len(texto)

6

In [19]:
#6. Búsqueda y pertenencia
#Permite verificar si un texto está contenido en otro.

"Py" in texto

True

### Métodos
Algunos métodos útiles para análisis de texto. Las cadenas son inmutables por lo tanto, estos métodos no cambian la cadena general y para preservar el cambio es necesario guardar el resultado.

Algunos métodos son: convertir a mayúsculas (upper), minúsculas (lower), remover espacios en blanco (strip), reemplazar cadenas (replace), separación de cadenas por medio de un símbolo (split), etc.

In [20]:
print(texto.lower())
print(texto.upper())
print(texto.strip())
print(texto.replace("Py", "My"))
print(texto.split("t"))
print(texto)

python
PYTHON
Python
Mython
['Py', 'hon']
Python

### Ejemplo: cadenas de texto en analítica descriptiva y predictiva

Supón un conjunto de comentarios de clientes donde queremos describir y luego preparar los datos para un modelo predictivo (por ejemplo, satisfacción).

In [21]:
comentarios = [
    "Excelente servicio",
    "muy buen servicio ",
    "Servicio malo",
    "Excelente atención",
    "muy malo"
]

print(comentarios)

['Excelente servicio', 'muy buen servicio ', 'Servicio malo', 'Excelente atención', 'muy malo']

In [22]:
# Normalización del texto
comentarios_limpios = [c.lower().strip() for c in comentarios]

print(comentarios_limpios)

# Longitud de cada comentario
longitudes = [len(c) for c in comentarios_limpios]

print(longitudes)

['excelente servicio', 'muy buen servicio', 'servicio malo', 'excelente atención', 'muy malo']
[18, 17, 13, 18, 8]

In [23]:
# Etiquetas simples (1 = positivo, 0 = negativo)
etiquetas = [1, 1, 0, 1, 0]

# Variable predictora simple: número de palabras
num_palabras = [len(c.split()) for c in comentarios_limpios]

num_palabras

[2, 3, 2, 2, 2]

## **Estructura de Datos**

Una estructura de datos en Python es una forma organizada de almacenar, acceder y manipular datos para resolver problemas de manera eficiente.

Permite:

Agrupar múltiples valores

Acceder a ellos de forma estructurada

Facilitar operaciones como búsqueda, inserción y recorrido

Ejemplos comunes en Python:

* Listas → colecciones ordenadas

* Tuplas → colecciones ordenadas e inmutables

* Conjuntos (set) → colecciones sin duplicados

* Diccionarios → pares clave–valor

Otras estructuras
* Árboles
* Grafos
* Colas
* Pilas
* Listas enlazadas
* Listas de matrices
* Tablas Hash

### **Tuplas (Tuple)**

Colecciones ordenadas e inmutables de longitud fija que, una vez asignada, no se puede modificar. La forma más sencilla de crearla es con una secuencia de valores separados por comas y entre paréntesis. Asimismo, contienen una secuencia heterogénea de elementos.



```python
In [1]: tup0 = ('foo', [1, 2], True)
Out[1]: ('foo', [1, 2], True)

In [2]: tup = (4, 5, 6)

In [3]: tup
Out[3]: (4, 5, 6)
```

Uso típico:

- Datos que no deben cambiar

- Registros fijos

In [24]:
tup0 = ('foo', [1, 2], True)

print(tup0)

tup = (4, 5, 6)

tup

('foo', [1, 2], True)

(4, 5, 6)

En muchos contextos, los paréntesis se pueden omitir, por lo que aquí también podríamos haber escrito:



``` python
#Este proceso se llama empaquetado
tup = 4, 5, 6

tup

(4, 5, 6)
```

In [25]:
tup = 4, 5, 6

tup

(4, 5, 6)

Puedes convertir cualquier secuencia o iterador en una tupla invocando `tuple`:


```python
In [6]: tuple([4, 0, 2])
Out[6]: (4, 0, 2)

In [7]: tup = tuple('string')

In [8]: tup
Out[8]: ('s', 't', 'r', 'i', 'n', 'g')
```

In [26]:

# Esta es una lista
print(tuple([4, 0, 2]))

#Esta es una cadena
tup = tuple('string')

print(tup)

(4, 0, 2)
('s', 't', 'r', 'i', 'n', 'g')

Un problema particular es la construcción de tuplas que contengan 0 o 1 ítem: la sintaxis presenta algunas peculiaridades para estos casos. Las tuplas vacías se construyen mediante un par de paréntesis vacío; una tupla con un ítem se construye poniendo una coma a continuación del valor (no alcanza con encerrar un único valor entre paréntesis). Feo, pero efectivo. Por ejemplo:



```python
#Una tupla vacía
empty = ()
#Empaquetando una tupla con un elemento
singleton = 'hello',    # <-- note trailing comma
len(empty)
0
len(singleton)
1
```

In [27]:
# Una tupla vacía
empty = ()
#Empaquetando una tupla con un elemento
singleton = 'hello',    # <-- note trailing comma
print(len(empty))

print(len(singleton))

0
1

Se puede acceder a los elementos mediante corchetes, `[]`como ocurre con la mayoría de los demás tipos de secuencias. Al igual que en C, C++, Java y muchos otros lenguajes, las secuencias se indexan a **0** en Python.

Regla general:

Tupla sencilla: `estructura[indice]`

Tupla anidada: `estructura[indice_externo][indice_interno]`



```python
In [9]: tup[0]
Out[9]: 's'
```

In [28]:
print(tup)
tup[0]

('s', 't', 'r', 'i', 'n', 'g')

's'

Al definir tuplas dentro de expresiones más complicadas, a menudo es necesario encerrar los valores entre paréntesis, como en este ejemplo de creación de una tupla de tuplas:



```python
In [10]: nested_tup = (4, 5, 6), (7, 8)

In [11]: nested_tup
Out[11]: ((4, 5, 6), (7, 8))

In [12]: nested_tup[0]
Out[12]: (4, 5, 6)

In [13]: nested_tup[1]
Out[13]: (7, 8)
```

In [29]:
nested_tup = (4, 5, 6), (7, 8)

print(nested_tup)

#Acceder a la primera tupla
print(nested_tup[0])

#Acceder a los elementos de la tupla interna (primera)

print(nested_tup[0][0])
print(nested_tup[0][1])

print(nested_tup[1])

((4, 5, 6), (7, 8))
(4, 5, 6)
4
5
(7, 8)

Si bien los objetos almacenados en una tupla pueden ser mutables, una vez creada la tupla no es posible modificar qué objeto se almacena en cada espacio:



```python
In [14]: tup = tuple(['foo', [1, 2], True])

In [15]: tup[2] = False
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-15-b89d0c4ae599> in <module>
----> 1 tup[2] = False
TypeError: 'tuple' object does not support item assignment
```

In [54]:
tup = tuple(['foo', [1, 2], True])

tup[2] = False

TypeError: 'tuple' object does not support item assignment

Si un objeto dentro de una tupla es mutable, como una lista, puedes modificarlo en el lugar:



```python
In [16]: tup[1].append(3)

In [17]: tup
Out[17]: ('foo', [1, 2, 3], True)
```

In [52]:
tup = tuple(['foo', [1, 2], True])
print(tup)
#Este es un método de lista
tup[1].append(3)

print(tup)

('foo', [1, 2], True)
('foo', [1, 2, 3], True)

Puede concatenar tuplas utilizando el operador `+`para producir tuplas más largas:



```python
In [18]: (4, None, 'foo') + (6, 0) + ('bar',)
Out[18]: (4, None, 'foo', 6, 0, 'bar')
```

In [ ]:
(4, None, 'foo') + (6, 0) + ('bar',)

Multiplicar una tupla por un entero, como ocurre con las listas, tiene el efecto de concatenar esa misma cantidad de copias de la tupla:



```python
In [19]: ('foo', 'bar') * 4
Out[19]: ('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')
```

In [ ]:
('foo', 'bar') * 4

**Métodos de Tupla**

Las tuplas tienen pocos métodos porque son inmutables.

In [ ]:
#1. count()

#Cuenta número de veces que aparece un elemento.

t = (1, 2, 2, 3, 2)
t.count(2)

In [31]:
#2. index()

#Devuelve la posición de la primera aparición de un elemento.

t = ("a", "b", "c")
t.index("b")

1

In [32]:
#Operaciones comunes (no son métodos)

#Aunque no modifican la tupla, se usan frecuentemente:

len(t)        # tamaño
2 in t        # pertenencia
t[0]          # acceso por índice
t[1:3]        # slicing

('b', 'c')

**Desempaquetar Tuplas**

Si intenta asignar una expresión de variables similar a una tupla, Python intentará descomprimir el valor en el lado derecho del signo igual:



```python
In [20]: tup = (4, 5, 6)

In [21]: a, b, c = tup

In [22]: b
Out[22]: 5
```

In [33]:
tup = (4, 5, 6)

a, b, c = tup

print(a, b,c)

4 5 6

Incluso las secuencias con tuplas anidadas se pueden descomprimir:



```python
In [23]: tup = 4, 5, (6, 7)

In [24]: a, b, (c, d) = tup

In [25]: d
Out[25]: 7
```

In [34]:
tup = 4, 5, (6, 7)

a, b, (c, d) = tup

print(a)
print(b)
print(d)

x, y, z = tup
print(x)
print(y)
print(z)

4
5
7
4
5
(6, 7)

### **Listas**

Colecciones ordenadas y mutables. Que una lista sea *ordenada* significa que los elementos mantienen el orden en el que fueron insertados y ese orden no cambia automáticamente.

Que una lista sea *mutable* significa que puede modificarse después de haber sido creada, sin necesidad de crear una nueva lista.

Uso típico:
- Datos secuenciales

- Conjuntos de observaciones

- Variables explicativas

En analítica: almacenar mediciones, series temporales, columnas simples.

Se pueden definir mediante corchetes `[]` o con la función `list` función.



```python
In [42]: a_list = [2, 3, 7, None]

In [43]: tup = ("foo", "bar", "baz")

In [44]: b_list = list(tup)

In [45]: b_list
Out[45]: ['foo', 'bar', 'baz']

In [46]: b_list[1] = "peekaboo"

In [47]: b_list
Out[47]: ['foo', 'peekaboo', 'baz']
```

In [35]:
a_list = [2, 3, 7, None]

print(a_list)
tup = ("foo", "bar", "baz")

print(tup)

b_list = list(tup)

print(b_list)

b_list[1] = "peekaboo"

print(b_list)

[2, 3, 7, None]
('foo', 'bar', 'baz')
['foo', 'bar', 'baz']
['foo', 'peekaboo', 'baz']

Las listas y las tuplas son semánticamente similares (aunque las tuplas no se pueden modificar) y se pueden usar indistintamente en muchas funciones.

La listfunción incorporada se utiliza con frecuencia en el procesamiento de datos como una forma de materializar un iterador o una expresión generadora:



```python
In [48]: gen = range(10)

In [49]: gen
Out[49]: range(0, 10)

In [50]: list(gen)
Out[50]: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
```

In [36]:
gen = range(10)

print(gen)


list(gen)

range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Métodos de Modificación



```python
lista.append(4)        # agrega un elemento al final
lista.extend([5, 6])   # agrega varios elementos
lista.insert(1, 10)    # inserta en una posición list.insert(i, x)
                       # list.insert(0, x) inserta al principio de la lista y list.insert(len(list), x) equivale a list.append(x).

lista.remove(2)        # elimina un valor
lista.pop()            # elimina y devuelve el último
lista.clear()          # elimina todos los elementos

```

In [37]:
tup = ("foo", "bar", "baz")
b_list = list(tup)
print(b_list)

b_list.append("dwarf")

print(b_list)


b_list.insert(1, "red")

print(b_list)

print(b_list.pop(2))

print(b_list)

['foo', 'bar', 'baz']
['foo', 'bar', 'baz', 'dwarf']
['foo', 'red', 'bar', 'baz', 'dwarf']
bar
['foo', 'red', 'baz', 'dwarf']

In [38]:
b_list.append("vicente")
print(b_list)

b_list.remove("baz")
print(b_list)

['foo', 'red', 'baz', 'dwarf', 'vicente']
['foo', 'red', 'dwarf', 'vicente']

Comprueba si una lista contiene un valor utilizando la inpalabra clave:



```python
In [61]: "vicente" in b_list
Out[61]: True
```

In [39]:
"vicente" in b_list

True

La palabra clave notse puede utilizar para negar in:



```
In [62]: "MIAAD" not in b_list
Out[62]: False
```

In [40]:
"MIAAD" in b_list

False

**Concatenación y combinación de listas**
De manera similar a las tuplas, al sumar dos listas con `+` se concatenan:



```python
In [63]: [4, None, "foo"] + [7, 8, (2, 3)]
Out[63]: [4, None, 'foo', 7, 8, (2, 3)]
```

In [41]:
[4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

Si ya tiene una lista definida, puede agregarle varios elementos utilizando el método `extend`:



```python
In [64]: x = [4, None, "foo"]

In [65]: x.extend([7, 8, (2, 3)])

In [66]: x
Out[66]: [4, None, 'foo', 7, 8, (2, 3)]
```

**Ordenaciòn**
Puede ordenar una lista en su lugar (sin crear un nuevo objeto) llamando a la función `sort`:



```python
In [67]: a = [7, 2, 5, 1, 3]

In [68]: a.sort()

In [69]: a
Out[69]: [1, 2, 3, 5, 7]
```

In [42]:
a = [7, 2, 5, 1, 3]

a.sort()
print(a)

[1, 2, 3, 5, 7]

`sort` tiene algunas opciones que pueden resultar útiles ocasionalmente. Una de ellas es la posibilidad de pasar una clave de ordenación secundaria , es decir, una función que genera un valor para ordenar los objetos. Por ejemplo, podríamos ordenar una colección de cadenas por su longitud:



```python
In [70]: b = ["saw", "small", "He", "foxes", "six"]

In [71]: b.sort(key=len)

In [72]: b
Out[72]: ['He', 'saw', 'six', 'small', 'foxes']
```

In [43]:
b = ["saw", "small", "He", "foxes", "six"]

b.sort(key=len)

b

['He', 'saw', 'six', 'small', 'foxes']

**Slice**

Puede seleccionar secciones de la mayoría de los tipos de secuencia mediante la notación de corte, que en su forma básica consiste en `start:stop` y paasar al operador de indexación `[]`:



```python
In [73]: seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [74]: seq[1:5]
Out[74]: [2, 3, 7, 5]
```

In [44]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

A los slice también se les puede asignar una secuencia:



```python
In [75]: seq[3:5] = [6, 3]

In [76]: seq
Out[76]: [7, 2, 3, 6, 3, 6, 0, 1]
```

In [45]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
print(seq)
seq[3:5] = [6, 3]
seq

[7, 2, 3, 7, 5, 6, 0, 1]

[7, 2, 3, 6, 3, 6, 0, 1]

### **Diccionarios**

El diccionario dictes quizás la estructura de datos integrada más importante de Python. En otros lenguajes de programación, los diccionarios se denominan mapas hash o matrices asociativas .

Un diccionario almacena una colección de pares **clave-valor** , donde clave y valor son objetos de Python. Cada clave está asociada a un valor para que este pueda recuperarse, insertarse, modificarse o eliminarse fácilmente dada una clave específica.

 Una forma de crear un diccionario es usar llaves `{}`y dos puntos para separar claves y valores:



```python
In [83]: empty_dict = {}

In [84]: d1 = {"a": "some value", "b": [1, 2, 3, 4]}

In [85]: d1
Out[85]: {'a': 'some value', 'b': [1, 2, 3, 4]}
```

In [46]:
empty_dict = {}

d1 = {"a": "some value", "b": [1, 2, 3, 4]}

d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

Puede acceder, insertar o configurar elementos utilizando la misma sintaxis que para acceder a los elementos de una lista o tupla:



```python
In [86]: d1[7] = "an integer"

In [87]: d1
Out[87]: {'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [88]: d1["b"]
Out[88]: [1, 2, 3, 4]
```

In [47]:
print(d1)
d1[7] = "an integer"

print(d1)

print(d1["b"])

{'a': 'some value', 'b': [1, 2, 3, 4]}
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}
[1, 2, 3, 4]

Puede comprobar si un diccionario contiene una clave utilizando la misma sintaxis utilizada para comprobar si una lista o tupla contiene un valor:



```python
In [89]: "b" in d1
Out[89]: True
```

El método `keys` y `values`proporciona iteradores de las claves y valores del diccionario, respectivamente. El orden de las claves depende del orden de inserción, y estas funciones generan las claves y valores en el mismo orden:



```python
In [99]: list(d1.keys())
Out[99]: ['a', 'b', 7]

In [100]: list(d1.values())
Out[100]: ['some value', [1, 2, 3, 4], 'an integer']
```

Si necesita iterar sobre las claves y los valores, puede utilizar el itemsmétodo para iterar sobre las claves y los valores como 2-tuplas:



```python
In [101]: list(d1.items())
Out[101]: [('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]
```

### **Set - Conjuntos**

Un conjunto es una colección desordenada de elementos únicos. Se puede crear de dos maneras: mediante la función `set` o mediante un literal de conjunto entre llaves:



```python
In [124]: set([2, 2, 2, 1, 3, 3])
Out[124]: {1, 2, 3}

In [125]: {2, 2, 2, 1, 3, 3}
Out[125]: {1, 2, 3}
```

In [48]:
set([2, 2, 2, 1, 3, 3])

print(set([2, 2, 2, 1, 3, 3]))
print({2, 2, 2, 1, 3, 3})

{1, 2, 3}
{1, 2, 3}

Los conjuntos admiten operaciones matemáticas como unión, intersección, diferencia y diferencia simétrica. Considere estos dos conjuntos de ejemplo:

In [49]:
a = {1, 2, 3, 4, 5}

b = {3, 4, 5, 6, 7, 8}

print(a.union(b))

print(a | b)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

La intersección contiene los elementos presentes en ambos conjuntos. Se puede utilizar el operador `&`o el método: `intersection`

In [50]:
a.intersection(b)

a & b

{3, 4, 5}