<a href="https://colab.research.google.com/github/iestleija/4808-Programacion/blob/Unidad2/Unidad2/Practices/Practice12_16_266229.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Maestría en Inteligencia Artificial y Analítica de Datos**

- Curso: Programación para Analítica Descriptiva y Predictiva

- Semestre: Enero-Junio

- Profesor: Dr. Vicente García Jiménez
- Práctica: 12-16 Limpieza y Transformación de Datos
- Alumno: Ismael Estrada Leija
- Matrícula: 266229

#Limpieza y Transformación de Datos-Prácticas 12,13,14,15,16

In [78]:
# environment setup
import pandas as pd
from IPython.display import Markdown, display

def print_bold(string):
  display(Markdown(f"**{string}**"))

## Objetivo
El objetivo de esta actividad es que los estudiantes practiquen los temas vistos de carga de datos, normalización de nombres de columnas, separación y unión de columnas, errores en los tipos de datos. Todo es en un conjunto de datos utilizando Pandas en Python.

## Instrucciones:

Descarga el archivo CSV, miaad-nyc-r-s.csv, proporcionado en esta tarea. También lo puedes encontrar en recursos.
Crea un notebook en colab y guarda el archivo csv descargado en tu drive.

Agrega secciones en el colab poniendo como título el nombre de la práctica

## Práctica 12: Carga de Datos

Al final del archivo contiene una línea que dice "Esta es una línea que no deberías cargar". Esta línea es irrelevante por lo tanto al cargar el CSV a un dataframe se debería de ignorar.

Carga el archivo a un dataframe usando el código necesario para omitir la última fila.
Usa df.tail(3) para demostrar que no has cargado la última línea
Imprime la cantidad de filas y columnas del dataframe

In [79]:

# rss stands for real state sales
rss = pd.read_csv('/content/drive/MyDrive/4808-programacion/U02/A12-16/miaad-nyc-r-s.csv', skipfooter=1, engine='python')
rss.tail(3)

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
84545,8411,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7351,60,,B2,49 PITNEY AVENUE,...,2,0,2,4000,1496,1925,1,B2,460000,2017-07-05 00:00:00
84546,8412,5,WOODROW,22 STORE BUILDINGS,4,7100,28,,K6,2730 ARTHUR KILL ROAD,...,0,7,7,208033,64117,2001,4,K6,11693337,2016-12-21 00:00:00
84547,8413,5,WOODROW,35 INDOOR PUBLIC AND CULTURAL FACILITIES,4,7105,679,,P9,155 CLAY PIT ROAD,...,0,1,1,10796,2400,2006,4,P9,69300,2016-10-27 00:00:00

In [80]:
# save the original data dictionary
dd_original = pd.DataFrame(
    {"Nombre de columna": rss.columns,
     "Tipo de dato": [str(rss[col].dtype) for col in rss.columns]}
);

## Práctica 13: Cambiar nombre de columna

Imprime los nombres de la columnas del archivo
Asegúrate que el nombre de la primera columna debería ser INDEX MIAAD. Si esto no es así, entonces cambia el nombre de la columna y vuelve a imprimir los nombres para mostrar el cambio realizado. Después del cambio debería aparecer INDEX MIAAD

In [87]:
# original columns names
print_bold("Nombres de columnas originales.")
print(rss.columns);

# making the required renaming
rss = rss.rename(columns={'Unnamed: 0': 'INDEX MIAAD'})

# updated cloumns names
print_bold("Nombres de columnas actualizados.")
print(rss.columns);

**Nombres de columnas originales.**

Index(['index_miaad', 'borough', 'neighborhood', 'building_class_category',
       'tax_class_at_present', 'block', 'lot', 'ease-ment',
       'building_class_at_present', 'address', 'apartment_number', 'zip_code',
       'residential_units', 'commercial_units', 'total_units',
       'land_square_feet', 'gross_square_feet', 'year_built',
       'tax_class_at_time_of_sale', 'building_class_at_time_of_sale',
       'sale_price', 'sale_date'],
      dtype='object')

**Nombres de columnas actualizados.**

Index(['index_miaad', 'borough', 'neighborhood', 'building_class_category',
       'tax_class_at_present', 'block', 'lot', 'ease-ment',
       'building_class_at_present', 'address', 'apartment_number', 'zip_code',
       'residential_units', 'commercial_units', 'total_units',
       'land_square_feet', 'gross_square_feet', 'year_built',
       'tax_class_at_time_of_sale', 'building_class_at_time_of_sale',
       'sale_price', 'sale_date'],
      dtype='object')

## Práctica 14: Normalización de los nombres de la columna.

Normaliza los nombres de las columnas, los cuales deberán estar en minúsculas. Asimismo, reemplaza los espacios con guion bajo
Imprime los nombres de las columnas para demostrar que has realizado la normalización.

In [82]:
# columns names converted to lower case and to snake case using underscores instead of spaces.
rss.columns = rss.columns.str.lower().str.replace(' ', '_')
print_bold("The updated columns names in lower and snake case are:\n")
print(rss.columns);

**The updated columns names in lower and snake case are:
**

Index(['index_miaad', 'borough', 'neighborhood', 'building_class_category',
       'tax_class_at_present', 'block', 'lot', 'ease-ment',
       'building_class_at_present', 'address', 'apartment_number', 'zip_code',
       'residential_units', 'commercial_units', 'total_units',
       'land_square_feet', 'gross_square_feet', 'year_built',
       'tax_class_at_time_of_sale', 'building_class_at_time_of_sale',
       'sale_price', 'sale_date'],
      dtype='object')

## Práctica 15: Errores en los Tipos de Datos

Imprime los tipos de datos de cada columna.
Asegúrate que las columnas de SALE PRICE(sale_price), LAND SQUARE FEET (land_square_feet), GROSS SQUARE FEET (gross_square_feet) sean de tipo flotante. Escribe qué tipo de dato tienen asignado. Si no son correctos, realiza el cambio.
Imprime de nuevo los tipos de datos para demostrar que has arreglado el problema.

In [86]:
# required columns to convert their data type to float
cols_to_fix = ['sale_price', 'land_square_feet', 'gross_square_feet'];

#current data types
print_bold("Showing only the required columns")
print_bold("The original data types are:");
print(rss[cols_to_fix].dtypes);

#applying the change
rss[cols_to_fix] = rss[cols_to_fix].apply(pd.to_numeric, errors='coerce');

# fixed data types for the required columns
print_bold("The fixed data types are:");
print(rss[cols_to_fix].dtypes);

**Showing only the required columns**

**The original data types are:**

sale_price           float64
land_square_feet     float64
gross_square_feet    float64
dtype: object

**The fixed data types are:**

sale_price           float64
land_square_feet     float64
gross_square_feet    float64
dtype: object

## Práctica 16: Genera el diccionario de datos del dataframe preprocesado. Imprime el contenido de dicho diccionario
Habiendo generado el dicionario de datos antes de realizar cambios al dataframe, se muestran a continuación el original y el que resultó despues de los cambios.

In [84]:
dd_corregido = pd.DataFrame(
    {"Nombre de columna": rss.columns,
     "Tipo de dato": [str(rss[col].dtype) for col in rss.columns]}
);

display(Markdown("**El diccionario de datos original es:**"))
print(dd_original)

display(Markdown("**El diccionario de datos corregido es:**"))
print(dd_corregido)

**El diccionario de datos original es:**

                 Nombre de columna Tipo de dato
0                       Unnamed: 0        int64
1                          BOROUGH        int64
2                     NEIGHBORHOOD       object
3          BUILDING CLASS CATEGORY       object
4             TAX CLASS AT PRESENT       object
5                            BLOCK        int64
6                              LOT        int64
7                        EASE-MENT       object
8        BUILDING CLASS AT PRESENT       object
9                          ADDRESS       object
10                APARTMENT NUMBER       object
11                        ZIP CODE        int64
12               RESIDENTIAL UNITS        int64
13                COMMERCIAL UNITS        int64
14                     TOTAL UNITS        int64
15                LAND SQUARE FEET       object
16               GROSS SQUARE FEET       object
17                      YEAR BUILT        int64
18       TAX CLASS AT TIME OF SALE        int64
19  BUILDING CLASS AT TIME OF SALE       object
20                      SALE PRICE       object
21                       SALE DATE       object

**El diccionario de datos corregido es:**

                 Nombre de columna Tipo de dato
0                      index_miaad        int64
1                          borough        int64
2                     neighborhood       object
3          building_class_category       object
4             tax_class_at_present       object
5                            block        int64
6                              lot        int64
7                        ease-ment       object
8        building_class_at_present       object
9                          address       object
10                apartment_number       object
11                        zip_code        int64
12               residential_units        int64
13                commercial_units        int64
14                     total_units        int64
15                land_square_feet      float64
16               gross_square_feet      float64
17                      year_built        int64
18       tax_class_at_time_of_sale        int64
19  building_class_at_time_of_sale       object
20                      sale_price      float64
21                       sale_date       object

#Conclusión
Tomando como base los videos proporcionados por el docente y con el uso da las librerías Pandas (Pandas team, 2026) y el módulo display de IPhyton, (The IPython Development Team, 2026) se ejecutaron las actividades propuestas para las practicas 12 a la 16 de este curso, orientadas a la carga de datos, la normalización de nombres y la modificación de tipos de datos.

Durante la práctica se generaron un par de diccionario de datos, el original y el resultante despues de los cambios aplicados al dataframe de datos inmobiliarios proveído por el docente.

#Referencias
Pandas team. (2026). pandas documentation—Pandas 3.0.0 documentation. https://pandas.pydata.org/docs/index.html

The IPython Development Team. (2026). Module: Display—IPython 9.10.0 documentation. https://ipython.readthedocs.io/en/stable/api/generated/IPython.display.html