<a href="https://colab.research.google.com/github/iestleija/4808-Programacion/blob/Unidad2/Unidad2/Practices/Practice17_266229.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Maestría en Inteligencia Artificial y Analítica de Datos**

- Curso: Programación para Analítica Descriptiva y Predictiva

- Semestre: Enero-Junio

- Profesor: Dr. Vicente García Jiménez
- Práctica: Práctica #17: Limpieza y Transformación de Datos Categóricos
- Alumno: Ismael Estrada Leija
- Matrícula: 266229

# Práctica #17: Limpieza y Transformación de Datos Categóricos

##Objetivo
El objetivo de esta actividad es que los estudiantes practiquen los temas vistos de limpieza y transformación de datos categóricos.

In [143]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Instrucciones:

1. Descarga el archivo CSV, nls97, proporcionado en esta tarea. También lo puedes encontrar en recursos.
2. Crea un notebook en colab y guarda el archivo csv descargado en tu drive.
3. Agrega secciones en el colab poniendo como título el nombre de cada ejercicio

In [144]:
#Cargar la biblioteca
import pandas as pd

#Leemos el CSV cat_err01.csv
df = pd.read_csv('/content/drive/MyDrive/4808-programacion/U02/P17/nls97.csv',index_col=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8984 entries, 100061 to 999963
Data columns (total 88 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gender                 8984 non-null   object
 1   birthmonth             8984 non-null   int64
 2   birthyear              8984 non-null   int64
 3   highestgradecompleted  6663 non-null   float64
 4   maritalstatus          6672 non-null   object
 5   childathome            4791 non-null   float64
 6   childnotathome         4791 non-null   float64
 7   wageincome             5091 non-null   float64
 8   weeklyhrscomputer      5792 non-null   object
 9   weeklyhrstv            6711 non-null   object
 10  nightlyhrssleep        6706 non-null   float64
 11  satverbal              1406 non-null   float64
 12  satmath                1407 non-null   float64
 13  gpaoverall             6004 non-null   float64
 14  gpaenglish             5798 non-null   float64
 15  gpamath                5766 non-null   float64
 16  gpascience             5684 non-null   float64
 17  highestdegree          8953 non-null   object
 18  govprovidejobs         1833 non-null   object
 19  govpricecontrols       1859 non-null   object
 20  govhealthcare          1874 non-null   object
 21  govelderliving         1872 non-null   object
 22  govindhelp             1815 non-null   object
 23  govunemp               1811 non-null   object
 24  govincomediff          1775 non-null   object
 25  govcollegefinance      1875 non-null   object
 26  govdecenthousing       1847 non-null   object
 27  govprotectenvironment  1860 non-null   object
 28  weeksworked00          8603 non-null   float64
 29  weeksworked01          8564 non-null   float64
 30  weeksworked02          8556 non-null   float64
 31  weeksworked03          8490 non-null   float64
 32  weeksworked04          8458 non-null   float64
 33  weeksworked05          8403 non-null   float64
 34  weeksworked06          8340 non-null   float64
 35  weeksworked07          8272 non-null   float64
 36  weeksworked08          8186 non-null   float64
 37  weeksworked09          8146 non-null   float64
 38  weeksworked10          8054 non-null   float64
 39  weeksworked11          7968 non-null   float64
 40  weeksworked12          7747 non-null   float64
 41  weeksworked13          7680 non-null   float64
 42  weeksworked14          7612 non-null   float64
 43  weeksworked15          7389 non-null   float64
 44  weeksworked16          7068 non-null   float64
 45  weeksworked17          6670 non-null   float64
 46  colenrfeb97            1250 non-null   object
 47  colenroct97            8501 non-null   object
 48  colenrfeb98            8501 non-null   object
 49  colenroct98            8888 non-null   object
 50  colenrfeb99            8865 non-null   object
 51  colenroct99            8851 non-null   object
 52  colenrfeb00            8820 non-null   object
 53  colenroct00            8805 non-null   object
 54  colenrfeb01            8786 non-null   object
 55  colenroct01            8758 non-null   object
 56  colenrfeb02            8732 non-null   object
 57  colenroct02            8698 non-null   object
 58  colenrfeb03            8658 non-null   object
 59  colenroct03            8622 non-null   object
 60  colenrfeb04            8578 non-null   object
 61  colenroct04            8546 non-null   object
 62  colenrfeb05            8508 non-null   object
 63  colenroct05            8471 non-null   object
 64  colenrfeb06            8426 non-null   object
 65  colenroct06            8407 non-null   object
 66  colenrfeb07            8352 non-null   object
 67  colenroct07            8331 non-null   object
 68  colenrfeb08            8289 non-null   object
 69  colenroct08            8280 non-null   object
 70  colenrfeb09            8236 non-null   object
 71  colenroct09            8193 non-null   object
 72  colenrfeb10            8116 non-null   object
 73  colenroct10            8091 non-null   object
 74  colenrfeb11            8037 non-null   object
 75  colenroct11            7972 non-null   object
 76  colenrfeb12            7794 non-null   object
 77  colenroct12            7754 non-null   object
 78  colenrfeb13            7754 non-null   object
 79  colenroct13            7754 non-null   object
 80  colenrfeb14            7624 non-null   object
 81  colenroct14            7469 non-null   object
 82  colenrfeb15            7469 non-null   object
 83  colenroct15            7469 non-null   object
 84  colenrfeb16            7036 non-null   object
 85  colenroct16            6733 non-null   object
 86  colenrfeb17            6733 non-null   object
 87  colenroct17            6734 non-null   object
dtypes: float64(29), int64(2), object(57)
memory usage: 6.1+ MB

###Funciones utilitarias
Usaremos estas funciones en las siguientes secciones

In [145]:
def print_bold(msg):
    print("\033[1m" + msg + "\033[0m")

# Recibe una columna y un diccionario de remplazos para modificar los valores
# de una columna del unico dataframe en este documento.
def corregir_con_replace(col, diccionario_correccion):
  # Categorías de columna originales
  print_bold(f"Valores únicos en {col}:");
  print(df[col].unique())
  print_bold(f"Frecuencia original de valores únicos en {col}:");
  print(f"{df[col].value_counts().sort_index()}")

  # Aplicar diccionario de correccion.
  df[col] = df[col].replace(diccionario_correccion)

  # Categorías de columna corregidas
  print_bold(f"Valores únicos en {col}:");
  print(df[col].unique())
  print_bold(f"Frecuencia corregida de valores únicos en {col}:");
  print(df[col].value_counts().sort_index())

## Ejercicio 01: Errores Tipográficos y Valores Inconsistentes: maritalstatus

1. Imprime de la columna 'maritalstatus' los valores únicos.
2. Imprime la frecuencia de cada valor único
3. Cambia el valor 'Never-Married' a 'Single'
4. Imprime la frecuencia de cada valor único.

In [146]:
# Se usa la función previamente definida para ejecutar los pasos requeridos.
# Diccionario de correccion de errores tipográficos e inconsistencias
correccion_maritalstatus = {
    'Never-married': 'Single',
}

corregir_con_replace('maritalstatus', correccion_maritalstatus)

Valores únicos en maritalstatus:
['Married' 'Never-married' nan 'Divorced' 'Separated' 'Widowed']
Frecuencia original de valores únicos en maritalstatus:
maritalstatus
Divorced          663
Married          3066
Never-married    2766
Separated         154
Widowed            23
Name: count, dtype: int64
Valores únicos en maritalstatus:
['Married' 'Single' nan 'Divorced' 'Separated' 'Widowed']
Frecuencia corregida de valores únicos en maritalstatus:
maritalstatus
Divorced      663
Married      3066
Separated     154
Single       2766
Widowed        23
Name: count, dtype: int64

## Ejercicio 02: Errores Tipográficos y Valores Inconsistentes: highestdegree.

1. Imprime de la columna 'highestdegrees' los valores únicos.
2. Imprime la frecuencia de cada valor único
2. Observa que cada valor categórico empieza con 0. Modifica las categorías para que todas estén en minúsculas y ninguna empiece con un número. Por ejemplo, si dice "2. High School", debería ser 'high school.
3. Los cambios se realizarán en la misma columna 'highestdegrees'.
4. Imprime los nuevos valores únicos.

In [147]:
col = 'highestdegree'
# 1. Categorías de columna originales
print_bold(f"Valores únicos en {col}:");
print(df[col].unique())
# 2.  Categorías de columna originales
print_bold(f"Frecuencia original de valores únicos en {col}:");
print(f"{df[col].value_counts().sort_index()}")

# 3 y 4 . Aplicación de los cambios requeridos en un solo paso.
# - Se aplica la funcion regex para eliminar el prefijo no deseado
# - Se eliminan los espacios excedentes
# - Se convierten todas las etiquetad de categoría a minúsculas
df[col] = df[col].str.replace(r'^\s*[0-9]+\.\s*', '', regex=True).str.strip().str.lower()

# 5. Categorías de columna corregidas
print_bold(f"Valores únicos en {col}:");
print(df[col].unique())
print_bold(f"Frecuencia corregida de valores únicos en {col}:");
print(df[col].value_counts().sort_index())

Valores únicos en highestdegree:
['2. High School' '0. None' '4. Bachelors' '3. Associates' '5. Masters'
 '1. GED' '7. Professional' '6. PhD' nan]
Frecuencia original de valores únicos en highestdegree:
highestdegree
0. None             953
1. GED             1146
2. High School     3667
3. Associates       737
4. Bachelors       1673
5. Masters          603
6. PhD               54
7. Professional     120
Name: count, dtype: int64
Valores únicos en highestdegree:
['high school' 'none' 'bachelors' 'associates' 'masters' 'ged'
 'professional' 'phd' nan]
Frecuencia corregida de valores únicos en highestdegree:
highestdegree
associates       737
bachelors       1673
ged             1146
high school     3667
masters          603
none             953
phd               54
professional     120
Name: count, dtype: int64

## Ejercicio 03: Alta Cardinalidad - Frecuencias Bajas

1. De la columna 'maritalstatus' une las categorías Widowed y 'Single' en una categoría más general llamada 'Single/No Partner'.
Crea una nueva columna, 'marital_grouped' donde aparezcan las nuevas categorías de maritalstatus.

2. Imprime los valores únicos de la nueva columna 'marital_grouped'.

3. Imprime la frecuencia de los valores únicos de la nueva columna 'marital_grouped'

In [148]:
def merge_single_and_widowed(marital_status):
  if marital_status == 'Widowed' or marital_status == 'Single':
    return 'Single/No Partner'
  else:
    return marital_status

col = 'maritalstatus'
# Categorías de columna originales
print_bold(f"Valores únicos en {col}:");
print(df[col].unique())
print_bold(f"Frecuencia original de valores únicos en {col}:");
print(f"{df[col].value_counts().sort_index()}")

# 1. New column for marital status merging single and widowed categories.

df['marital_grouped'] = df['maritalstatus'].apply(merge_single_and_widowed)

col2 = 'marital_grouped'
# 2. Categorías de columna originales
print_bold(f"Valores únicos en {col2}:");
print(df[col2].unique())

# 3. Categorías de columna originales
print_bold(f"Frecuencia original de valores únicos en {col2}:");
print(f"{df[col2].value_counts().sort_index()}")

Valores únicos en maritalstatus:
['Married' 'Single' nan 'Divorced' 'Separated' 'Widowed']
Frecuencia original de valores únicos en maritalstatus:
maritalstatus
Divorced      663
Married      3066
Separated     154
Single       2766
Widowed        23
Name: count, dtype: int64
Valores únicos en marital_grouped:
['Married' 'Single/No Partner' nan 'Divorced' 'Separated']
Frecuencia original de valores únicos en marital_grouped:
marital_grouped
Divorced              663
Married              3066
Separated             154
Single/No Partner    2789
Name: count, dtype: int64


## Ejercicio 04: Tipos de Datos

1. Imprime el tipo de datos de la columna gender
2. Imprime la cantidad de bytes de dicha columna.
3. Si la columna es de tipo object, modifica a category.
4. En caso de haber realizado la modificación del tipo de datos, imprime la cantidad de bytes que ocupa dicha columna con el nuevo tipo de datos

In [149]:
# 1. impresion del tipo de datos original de la columna gender
print_bold(f"El tipo de datos original de la columna gender es: {df['gender'].dtype}");

# 2. impresión del uso de memoria por la columna gender
print_bold(f"El uso de memoria de la columna gender con tipo de datos [{df['gender'].dtype}] es: {df['gender'].memory_usage(deep=True)}");

# 3. asignación de tipo de datos category en la columna gender
df['gender'] = df['gender'].astype('category')

# 4. impresión del uso de memoria de la columna gender despues del cambio de tipo de datos.
print_bold(f"El uso de memoria de la columna gender con tipo de datos [{df['gender'].dtype}] es: {df['gender'].memory_usage(deep=True)}");

El tipo de datos original de la columna gender es: object
El uso de memoria de la columna gender con tipo de datos [object] es: 556794
El uso de memoria de la columna gender con tipo de datos [category] es: 81072

#Conclusión
Con el apoyo del material didáctico proporcionado por el docente y la plataforma tecnológica de colab, usando la utilería Pandas (Pandas team, 2026) de Python, se realizaron los ejercicios propuestos en esta práctica.

Una observación importante fue encontrar que la función $value\_counts$ de pandas por omisión no muestra los valores $NaN$ , por lo que hay que agregarlos al análisis mediante el parámetro $dropna = false$ o estar conscientes que pueden existir.

# Referencias
Pandas team. (2026). pandas documentation—Pandas 3.0.0 documentation. https://pandas.pydata.org/docs/index.html